/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* END OF RESET */

/* UTIL */
.clearfix::after{
    clear: both;
    display: block;
    content: "";
}
.bg-white{
    background-color: white;
}
.text-black{
    color: black;
}
.bg-black{
    background-color: rgb(35, 39, 42);
}
.text-white{
    color: white;
}
.bg-lightblue{
    background-color:rgb(142, 161, 225);
}
.text-lightblue{
    color:rgb(142, 161, 225);
}
/* END OF UTIL */
.left-col-header{
    float: left;
    padding: 30px;
    width: 50%;
}
.right-col-header{
    float: right;
    padding: 30px;
    width: 50%;
    text-align: right;
}
header nav .left-col-header ul li,
header nav .right-col-header ul li{
    display: inline-block;
}
header nav .left-col-header ul li{
    margin-right: 40px;
}
header nav .right-col-header ul li{
    margin-left: 40px;
}
header nav ul{
    list-style: none;
}
header nav{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #D0D0D3;
    z-index: 100;
}
#logo{
    vertical-align: middle;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
    color: black;
}
.button-squared{
    background-color:#0061FF;
    padding: 10px 20px;
    color: white;
}
.button-squared:hover{
    background-color:#679df3;
}
header nav ul li a:hover{
    text-decoration: underline;
}
/* END OF HEADER NAV */
.hero{
    background-color: #B4D0E7;
}
main{
    margin-top: 85px;
}
h1{
    font-size: 5.5em;
}
.hero-content{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 150px;
}
.hero-sx{
    width: 40%;
    float: left;
    margin-top: 50px;
    font-size: 1.5;
}
.hero-sx p{
    width: 70%;
    line-height: 25px;
    margin-bottom: 40px;
}
.hero-sx span{
    display: block;
    margin-top: 20px;
}
.fa-arrow-down{
    font-size: 3em;
    margin-top: 30px;
}
.hero-dx img{
    width: 100%;
    margin-bottom: -80px;
}
.hero-dx{
    width: 50%;
    float: left;
    margin-top: 50px;
}
/* END OF HEADER */
.business{
    width: 80%;
    margin: auto;
    margin-top: 200px;
}
.business h2{
    font-size: 3em;
}
.l-radio{
  padding: 6px;
  border-radius: 50px;
  cursor: pointer;
}
.radio{
    margin-top: 50px;
    margin-bottom: 30px;
}
.col-1-business{
    border: 1px solid #D0D0D3;
    padding-bottom: 200px;
}
.col-top{
    border-bottom: 1px solid #D0D0D3;
    text-align: center;
    padding: 20px 0;
}
.fa-user{
    margin-right: 5px;
}
.col-content{
    padding: 40px;
}
.col-content h3{
    font-size: 2em;
    margin-bottom: 20px;
}
.grey-text{
    color: grey;
    margin-top: 15px;
    display: block;
}
.list-business {
    margin-top: 80px;
}
.list-business li{
    margin: 10px 0;
}
.list-business li:nth-child(1){
    list-style: url(./../img/user-regular.svg);
    font-size: 2em;
    font-size:1.5em;    
}
.list-business li:nth-child(2){
    list-style: url(./../img/folder-regular.svg);
    font-size: 2em;
    font-size:1.5em; 
}
.list-business li:nth-child(3){
    list-style: url(./../img/pen-solid.svg);
    font-size: 2em;
    font-size:1.5em; 
}
.col-content .button-squared{
    text-align: center;
    display: block;
    margin-top: 50px;
}
.buy-now{
    padding: 40px 0;
}
.buy-now a{
    color: #0061FF;
    text-decoration: underline;
}
.short-line{
    width: 20%;
}
.footer-col{
    margin-top: 40px;
}
.footer-col ul li{
    margin: 10px 0;
    list-style: url(./../img/check-solid.svg);
    font-size: 1.5em;
}

/* CALC WIDTH COL BUSINESS */
.left,
.middle,
.right{
    width: calc((100% / 3) - 42px);
    float: left;
}
.middle{
    margin: 0 60px;
}
.bottom-business{
    margin-top: 50px;
    border: 1px solid #D0D0D3;
    position: relative;
}
.col-top .fa-building{
    margin-right: 5px;
}
.bottom-business .col-content span{
    display: block;
    margin-top: 20px;
}
.bottom-business .col-content a{
    position: absolute;
    top: 40px;
    right: 40px;
}
.partner{
    width: 80%;
    margin: auto;
    margin-top: 150px;
}
.partner-sx img{
    height: 600px;
}
.partner-dx p{
    width: 70%;
    line-height: 30px;
}
.partner-sx{
    float: left;
    width: 50%;
}
.partner-dx{
    float: left;
    width: 50%;
}
.partner-dx h2{
    font-size: 3em;
    margin-bottom: 20px;
}
.partner-dx .button-squared{
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-top: 40px;
    display: inline-block;
}
.hover-grey:hover{
    background-color: #D0D0D3;
}
.list-business,
.footer-col ul{
    margin-left: 20px;
}

.cards{
    width: 80%;
    margin: auto;
}
.cards h2{
    font-size: 2em;
    margin-top: 80px;
    font-weight: 800;
}
.card img{
    width: 100%;
    margin-top: 50px;
}
.card{
    width: calc((100% / 3) - 60px);
    float: left;
}
.card p{
    line-height: 20px;
    margin-top: 40px;
}
.c-1,
.c-2{
    margin-right: 30px;
}
.card span{
    text-decoration: underline;
    cursor: pointer;
}
.card span:hover{
    text-decoration: none;
}
.top-text a{
    color: blue;
    text-decoration: underline;
    margin: 50px 0;
    display: block;
}
.top-text{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.customer-container{
    width: 100%;
    height: 500px;
}
.squares{
    width: 30%;
    height: 100%;
    float: left;
}
.Designit{
    width: 40%;
    height: 100%;
    background-color: #F5F5F5;
    float: left;
}
.squares .customer-logo{
    height: 50%;
    width: 50%;
    float: left;
    position: relative;
}
.customer-logo img{
    position: absolute;
    right: 50%;
    left: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    filter: invert(100%);
} 
/* SQUARES COLORS */
.top-left-1{
    background-color: #A2D39B;
    border-style: inset;
    border: 10px solid #D0E9CD;
}
.top-right-1{
    background-color: #61082B;
}
.bottom-left1{
    background-color: #5d9fd6;
}
.bottom-left1 img{
    height: 15%;
}
.bottom-right1{
    background-color: red;
    filter: static;
}
/* DESIGNIT */
.Designit img{
    height: 50px;
}
.Designit{
    padding: 50px;
    overflow-y: auto;
}
.grey-line{
    width: 10%;
    height: 1px;
    border-bottom: 1px solid #DEDEE0;
    margin: 50px 0;
}
.Designit p:last-child{
    margin-top: 50px;
}
/* SQUARES RIGHT */
.top-left-2{
    background-color: red;
}
.top-right-2{
    background-color:#B4D0E7;
}
.bottom-left2{
    background-color: #0D2481;
}
.bottom-right2{
    background-color: #FFD830;
}
/* FREE TRIAL */
.free-trial{
    width: 100%;
    background-color: #B4D0E7;
}
.trial-option{
    width: 80%;
    margin: auto;
    padding: 120px 0;
}
.trial-option h2{
    font-size: 2.5em;
    color: #61082B;
    display: inline-block;
}
.trial-option .button-squared{
    float: right;
    background-color: white;
    color: black;
    transition: background-color 1s ease-in-out;
}
.trial-option .button-squared:hover{
    text-decoration: underline;
    background-color: rgb(168, 168, 168);
}
/* FAQ */
.faq{
    width: 80%;
    margin: auto;
    padding: 100px;
}
.menu-container h2{
    font-size: 2em;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-bottom: 60px;
}
.faqs{
    padding: 60px 0;
    border-bottom: 1px solid rgb(187, 187, 187);
}
.faqs h3{
    display: inline-block;
}
.faqs i{
    margin-left: 300px;
    float: right;
    cursor: pointer;
}
.faqs p{
    display: none;
}
.menu-container .faqs:hover p{
    display: block;
    margin-top: 50px;
}
.menu-container .faqs:hover i{
    transform: scaleY(-1);
}