/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* END OF RESET */

/* UTIL */
.clearfix{
    content: "";
    clear: both;
    display: table;
}
.bg-white{
    background-color: white;
}
.text-black{
    color: black;
}
.bg-black{
    background-color: rgb(35, 39, 42);
}
.text-white{
    color: white;
}
.bg-lightblue{
    background-color:rgb(142, 161, 225);
}
.text-lightblue{
    color:rgb(142, 161, 225);
}
/* END OF UTIL */
.left-col-header{
    float: left;
    padding: 30px;
}
.right-col-header{
    float: right;
    padding: 30px;
}
header nav .left-col-header ul li,
header nav .right-col-header ul li{
    display: inline-block;
}
header nav .left-col-header ul li{
    margin-right: 40px;
}
header nav .right-col-header ul li{
    margin-left: 40px;
}
header nav ul{
    list-style: none;
}
header nav{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
}
#logo{
    vertical-align: middle;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
    color: black;
}
.button-squared{
    background-color:#0061FF;
    padding: 10px 20px;
    color: white;
}
header nav ul li a:hover{
    text-decoration: underline;
}
/* END OF HEADER NAV */
.hero{
    background-color: #B4D0E7;
}
main{
    margin-top: 85px;
}
h1{
    font-size: 5.5em;
}
.hero-content{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 150px;
}
.hero-sx{
    width: 40%;
    float: left;
    margin-top: 50px;
    font-size: 1.5;
}
.hero-sx p{
    width: 70%;
    line-height: 25px;
    margin-bottom: 40px;
}
.hero-sx span{
    display: block;
    margin-top: 20px;
}
.fa-arrow-down{
    font-size: 3em;
    margin-top: 30px;
}
.hero-dx img{
    width: 100%;
    margin-bottom: -80px;
}
.hero-dx{
    width: 50%;
    float: left;
    margin-top: 50px;
}
/* END OF HEADER */
.business{
    width: 80%;
    margin: auto;
    margin-top: 200px;
}
.business h2{
    font-size: 3em;
}
.l-radio{
  padding: 6px;
  border-radius: 50px;
  cursor: pointer;
}
.radio{
    margin-top: 50px;
    margin-bottom: 30px;
}
.col-1-business{
    border: 1px solid #D0D0D3;
    padding-bottom: 200px;
}
.col-top{
    border-bottom: 1px solid #D0D0D3;
    text-align: center;
    padding: 20px 0;
}
.fa-user{
    margin-right: 5px;
}
.col-content{
    padding: 40px;
}
.col-content h3{
    font-size: 2em;
    margin-bottom: 20px;
}
.grey-text{
    color: grey;
    margin-top: 15px;
    display: block;
}
.list-business {
    margin-top: 80px;
}
.list-business li{
    margin: 10px 0;
}
.list-business li:nth-child(1){
    list-style: url(./../img/user-regular.svg);
    font-size: 2em;
    font-size:1.5em;    
}
.list-business li:nth-child(2){
    list-style: url(./../img/folder-regular.svg);
    font-size: 2em;
    font-size:1.5em; 
}
.list-business li:nth-child(3){
    list-style: url(./../img/pen-solid.svg);
    font-size: 2em;
    font-size:1.5em; 
}
.col-content .button-squared{
    text-align: center;
    display: block;
    margin-top: 50px;
}
.buy-now{
    padding: 40px 0;
}
.buy-now a{
    color: #0061FF;
    text-decoration: underline;
}
.short-line{
    width: 20%;
}
.footer-col{
    margin-top: 40px;
}
.footer-col ul li{
    margin: 10px 0;
    list-style: url(./../img/check-solid.svg);
    font-size: 1.5em;
}
.left,
.middle,
.right{
    width: calc(100% / 3 - 7px);
    float: left;
}
.middle{
    margin: 0 10px;
}
.bottom-business{
    margin-top: 50px;
    border: 1px solid #D0D0D3;
    position: relative;
}
.col-top .fa-building{
    margin-right: 5px;
}
.bottom-business .col-content span{
    display: block;
    margin-top: 20px;
}
.bottom-business .col-content a{
    position: absolute;
    top: 40px;
    right: 40px;
}